
:root
{
    --telemetry-pit-stop-estimation-left: 1%;    /** Position from the left of the screen */
    --telemetry-pit-stop-estimation-top: 1%;     /** Position from the top of the screen */

    --telemetry-input-chart-left: 1%;            /** Position from the left of the screen */
    --telemetry-input-chart-top: 1%;             /** Position from the top of the screen */

    --telemetry-input-chart-height: 100px;
    --telemetry-input-chart-width: 530px;

}

/**********************************************************************************************************************/

body
{
    font-family: 'Titillium Web', 'FiraCode Nerd Font', 'sans-serif';
    margin: 0; padding: 0;
    font-size: 1.0em;
}

/** Apply to all elements (padding is taken from the inner bounds) */
* { box-sizing: border-box; }

/**********************************************************************************************************************/

#telemetry-input-chart
{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    position: absolute;

    height: var(--telemetry-input-chart-height);
    width: var(--telemetry-input-chart-width);

    left: var(--telemetry-input-chart-left);
    top: var(--telemetry-input-chart-top);
}

#telemetry-pit-stop-estimation
{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    font-size: 1.5em;

    position: absolute;
    color: whitesmoke;

    left: var(--telemetry-pit-stop-estimation-left);
    top: var(--telemetry-pit-stop-estimation-top);
}


#telemetry-pit-stop-estimation th, td
{
    padding-right: 5px;
    padding-left: 5px;
}

#telemetry-pit-stop-estimation th
{
    text-align: left;
}

#telemetry-pit-stop-estimation td
{
    text-align: right;
    min-width: 100px;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}
