
:root
{
    /** Session panel variables */
    --session-panel-width: 400px;

    /** Standings panel variables */
    --standings-panel-font-weight: 550;

    --standings-panel-primary-color: rgba(0, 0, 0, 0.6);
    --standings-panel-secondary-color: rgba(0, 0, 0, 0.4);

    --standings-panel-gap-less-1-color: rgb(242, 92, 84);
    --standings-panel-gap-less-2-color: rgb(247, 178, 103);

    --standings-panel-row-01-width:  32px; /** Fast lap and exclamation icons */
    --standings-panel-row-02-width:  32px; /** Vehicle position */
    --standings-panel-row-03-width: 160px; /** Driver/Team name */
    --standings-panel-row-04-width:  48px; /** Vehicle icon */
    --standings-panel-row-05-width:  48px; /** Vehicle number */
    --standings-panel-row-06-width:  48px; /** Vehicle gap */
    --standings-panel-row-07-width:  48px; /** Min width of the "right column" */

    /** Driver panel */
    --driver-panel-width: 400px;
    --driver-panel-background-color: rgba(0, 0, 0, 0.7);
    --driver-panel-vehicle-number-background-color: rgba(255, 255, 255, 0.6); /** This will be overridden by the vehicle class color */
    --driver-panel-vehicle-position-background-color: rgba(255, 255, 255, 0.6);

    /** Weather forecast panel */
    --weather-panel-item-width: 48px;
}

/**********************************************************************************************************************/


body
{
    font-family: 'Titillium Web', 'FiraCode Nerd Font', 'sans-serif';
    margin: 0; padding: 0;
    font-size: 1.0em;
}

img
{
    vertical-align: middle;
}

#gradient-background
{
    width: 40%;
    height: 100%;

    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0));
}

/** Apply to all elements (padding is taken from the inner bounds) */
* { box-sizing: border-box; }

/**********************************************************************************************************************/

.penalty-style
{
    background-color: red;
    color: white;

    padding-right: 3px;
    padding-left: 3px;
    margin-left: 2px;
}

.vehicle-in-pits
{
    background-color: orange;
    color: black;

    padding-right: 3px;
    padding-left: 3px;
    margin-left: 2px;
}

.icon-container
{
}

/**********************************************************************************************************************/
