
#driver-panel
{
    position: fixed;
    width: 400px;

    bottom: 1em;
    right: 1em;
}

#driver-panel table
{
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
}

#driver-panel table td
{
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#driver-panel thead
{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#driver-panel tbody
{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

#driver-panel .driver-panel-name
{
    font-weight: bold;
    text-align: center;
}

#driver-panel .driver-panel-team
{
    font-weight: lighter;
    text-align: center;
}

#driver-panel .driver-vehicle-numer
{
    background-color: rgba(255,255, 255, 0.6);
    text-align: center;
    color: black;
}

#driver-panel .driver-vehicle-position
{
    background-color: rgba(255,255, 255, 0.6);
    text-align: center;
    color: black;
}
