#notification-container
{
    font-size: var(--notification-panel-font-size);

    left: var(--notification-panel-position-left);
    top: var(--notification-panel-position-top);

    width: var(--notification-panel-width);
    position: absolute;

    flex-direction: column;
    display: flex;

    z-index: 9999;
    gap: 10px;
}

#notification-container .track-limits
{
    background-image: linear-gradient(to right, rgba(33, 37, 41, 0.9), rgba(255, 165, 0, 1.0));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    justify-content: space-between;
    display: flex;
    flex: 1;
}

#notification-container .fast-lap
{
    background-image: linear-gradient(to right, rgba(33, 37, 41, 0.9), rgba(154, 52, 142, 1.0));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    justify-content: space-between;
    display: flex;
    flex: 1;
}

#notification-container .penalty
{
    background-image: linear-gradient(to right, rgba(33, 37, 41, 0.9), rgba(242, 92, 84, 1.0));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    justify-content: space-between;
    display: flex;
    flex: 1;
}

@keyframes winner-shimmer
{
    0% { background-position: 200%; }
    100% { background-position: 0%; }
}

#notification-container .race-winner
{
    background: linear-gradient(120deg, rgba(33,37,41,0.9) 30%, gold 50%, rgba(33,37,41,0.9) 70%);
    animation: winner-shimmer 5s linear infinite;
    background-size: 200% 100%;

    justify-content: space-between;
    display: flex;
    flex: 1;
}

#notification-container .winner-entry
{
    border: 2px solid gold;
}

/**********************************************************************************************************************/

#notification-container .overflow
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#notification-container .padding
{
    padding-right: 5px;
    padding-left: 5px;
}

#notification-container .notification-entry
{
    color: whitesmoke;
    width: 100%;
}

#notification-container .header
{
    background: rgba(33, 37, 41, 0.9);
    font-weight: 550;

    justify-content: space-between;
    display: flex;
}

#notification-container .info
{
    background: rgba(33, 37, 41, 0.9);
    font-weight: 550;

    display: flex;
    flex: 1;
}

#notification-container .class-type
{
    width: 56px;
}

#notification-container .vehicle-number
{
    background: rgba(240, 240, 240);
    width: 56px; color: black;

    justify-content: center;
    display: flex;
}

#notification-container .name
{
    width: 150px;
}
