#session-panel
{
    margin-left: var(--session-panel-position-left);
    margin-top: var(--session-panel-position-top);

    width: var(--session-panel-width);
    font-weight: bold;
    color: white;
}

#session-panel .session-container
{
    display: flex;
    justify-content: space-between;
}

#session-panel .session-time
{
    font-size: 1.5em;
}

#session-panel .session-flag
{
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    color: yellow;
}
