#telemetry-panel
{
    padding-left: 5px; padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.7);

    flex-direction: column;
    align-items: center;

    display: flex;
    gap: 10px;
}

#telemetry-panel #gauges
{
    display: flex;
    gap: 10px;
}

/* GAUGE BOX */
#telemetry-panel .gauge
{
    width: var(--telemetry-gauge-size);
    height: var(--telemetry-gauge-size);
    position: relative;
}

#telemetry-panel .gauge-wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--telemetry-gauge-size) * 0.05);
}

/* CANVAS FIT */
#telemetry-panel canvas
{
    width: 100% !important;
    height: 100% !important;
}

/* SPEED LABEL */
#telemetry-panel .speed-label
{
    transform: translate(-50%, -35%);

    position: absolute;
    text-align: center;

    left: 50%;
    top: 50%;
}

#telemetry-panel #speedValue
{
    font-size: var(--telemetry-text-scale);
    font-weight: bold;
    line-height: 1;
}

#telemetry-panel #speedUnit
{
    font-size: var(--telemetry-unit-scale);
    opacity: 0.7;
}

/* RPM LABEL */
#telemetry-panel .rpm-label
{
    font-size: var(--telemetry-text-scale);
    transform: translate(-50%, -45%);
    font-weight: bold;

    position: absolute;
    left: 50%;
    top: 50%;
}

#telemetry-panel .rpm-bottom
{
    font-size: calc(var(--telemetry-gauge-size) * 0.20);
    transform: translate(0%, -100%);

    text-align: center;

    font-weight: bold;
    line-height: 1;

    color: white;
    opacity: 0.9;
}

/* INPUTS */
#telemetry-panel #inputs
{
    width: calc(var(--telemetry-gauge-size) * 2 + 20px);
    flex-direction: column;
    display: flex;
    gap: 6px;
}

#telemetry-panel .bar
{
    height: calc(var(--telemetry-gauge-size) * 0.04);
    background: rgba(255,255,255,0.1);
    border-radius: 6px;
    overflow: hidden;
}

#telemetry-panel .fill
{
    height: 100%;
    width: 0%;
}

#telemetry-panel #throttleFill { background: #00ff88; }
#telemetry-panel #brakeFill { background: #ff3b3b; }
