
#tower-panel
{
    font-weight: 500;
    margin-left: 1em;
    margin-top: 1em;
}

#tower-panel table
{
    color: white;
    border-spacing: 0;
    margin-bottom: 1em;
    border-collapse: separate;
}

.generic_class
{
    background-color: rgba(79, 93, 117, 1.0);
    color: white;
}

.GT3
{
    background-color: rgba(0, 143, 55, 1.0);
    color: white;
}

.GTE
{
    background-color: rgba(240, 140, 0, 1.0);
    color: white;
}

.LMP2
{
    background-color: rgba(6, 75, 145, 1.0);
    color: white;
}

.LMP3
{
    background-color: rgba(58, 25, 74, 1.0);
    color: white;
}

.Hyper
{
    background-color: rgba(171, 24, 20, 1.0);
    color: white;
}

.LMP2_ELMS
{
    background-color: rgba(190, 74, 9, 1.0);
    color: white;
}

/**********************************************************************************************************************/

.vehicle-position
{
    /*background-color: rgba(79, 93, 117, 1.0);*/
    text-align: center;
    color: white;
    width: 32px;
}

.vehicle-driver
{
    padding-right: 5px;
    padding-left: 5px;
    width: 160px;
}

.vehicle-driver-truncate-text
{
    width: 160px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vehicle-logo
{
    text-align: center;
    width: 48px;
}

.vehicle-number
{
    text-align: center;
    width: 48px;
}

.vehicle-gap
{
    text-align: center;
    width: 48px;
}

.vehicle-right-column
{
    min-width: 48px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

/**********************************************************************************************************************/
