#weather-panel
{
    right: var(--weather-panel-position-right);
    top: var(--weather-panel-position-top);

    font-size: var(--weather-panel-font-size);
    position: fixed;
    display: flex;
}

#weather-panel table
{
    text-align: center;
    color: var(--weather-panel-text-color);
}

#weather-panel .weather-panel-forecast
{
    border-collapse: separate;
    border-spacing: 0 0;
}

#weather-panel .weather-panel-conditions
{
    border-collapse: separate;
    border-spacing: 2px 0;
}

#weather-panel table th
{
    background-color: var(--weather-panel-header-background-color);
    padding-right: 10px;
    padding-left: 10px;
}

#weather-panel table td
{
    background-color: var(--weather-panel-body-background-color);
    padding-right: 10px;
    padding-left: 10px;
}
